html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Verhindert Scrollbalken durch die Canvas */
}

#ComposeTarget {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
