# --- General ---
.gradle/
**/build/
**/out/
.kotlin/
kotlin-js-store/

# --- Environments ---
#.env
config/env/.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local

# --- IDEs ---
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/snippets

# Fleet
.fleet/
!.fleet/receipt.json

# --- Dependencies & Build ---
node_modules/
**/node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# --- OS Files ---
.DS_Store
Thumbs.db
*.swp
*~
.nfs*

# --- Logs ---
_backup/logs/
**/*.log
*.log.gz

# --- Languages & Runtimes ---
# Java/Kotlin
*.class
.attach_pid*

# Python
.venv/
venv/
ENV/
*.pyc
__pycache__/

# --- Quality & Documentation ---
build/diagrams/
.eslintcache
.stylelintcache
.phpunit.result.cache
.dataSources/
dataSources.local.xml
/_backup/
