# Grundkonfiguration für Ktor in YAML
ktor:
  deployment:
    # Der Port, auf dem der Server lauschen soll
    port: 8080
    # port: ${PORT:8080} # Alternative: Nutzt Env-Variable PORT, sonst 8080
    # Optional für Entwicklung: Server bei Änderungen neu laden
    # watch:
    #  - classes
    #  - resources
  application:
    # Hier wird Ktor gesagt, welche Funktion die Konfiguration enthält
    modules:
      - at.mocode.ApplicationKt.module
