spring:
  application:
    name: auth-server

  cloud:
    consul:
      discovery:
        enabled: false

  security:
    oauth2:
      resourceserver:
        jwt:
          # This will be configured via environment variables in production
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8180/realms/meldestelle/protocol/openid-connect/certs}

server:
  port: ${AUTH_SERVICE_PORT:8087}

management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always

logging:
  level:
    at.mocode.infrastructure.auth: DEBUG
    org.springframework.security: DEBUG
    org.springframework.cloud.consul: INFO

# Custom properties can be added here when proper @ConfigurationProperties classes are created
# For now, these properties are moved to environment variables or removed to avoid warnings
