# migrated from application-keycloak.yml (standardized to .yaml)
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8180/realms/meldestelle}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://keycloak:8180/realms/meldestelle/protocol/openid-connect/certs}

keycloak:
  server-url: ${KEYCLOAK_SERVER_URL:http://keycloak:8180}
  issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8180/realms/meldestelle}
  jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://keycloak:8180/realms/meldestelle/protocol/openid-connect/certs}
  realm: ${KEYCLOAK_REALM:meldestelle}
  resource: ${KEYCLOAK_CLIENT_ID:api-gateway}
  client-id: ${KEYCLOAK_CLIENT_ID:api-gateway}
  public-client: false
  bearer-only: true
