spring:
  application:
    name: "gateway"
  autoconfigure:
    exclude:
      - "org.springframework.cloud.client.loadbalancer.LoadBalancerAutoConfiguration"
  cloud:
    gateway:
      # Wir nutzen die Standard-HTTP-Client-Konfiguration (Reactor Netty Defaults).
      # Explizite Timeouts oder Pool-Settings können bei Bedarf über System-Properties
      # oder spezifische Beans gesetzt werden, um Deprecation-Warnungen in YAML zu vermeiden.
      httpclient: {}

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: "w3c"
